<body>
  <div>
      <h3 class="well">
        О компании Индивидуальный предприниматель Арапова Диана Владимировна
      </h3>  
  </div>
  
  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://sicamp.ru" target="_blank">
              <img src="https://pp.userapi.com/c844320/v844320935/e49cd/lg7bLzzujjc.jpg" alt="Lights" style="width:80%">
              <div class="caption">
                  <p>Курсы по олимпиадному программированию.</p>
                  <p> Стаж работы 2 года </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://vk.com/raduga_zar" target="_blank">
              <img src="https://pp.userapi.com/c840738/v840738746/7e2f9/v_Y5yIMhGf8.jpg" alt="Nature" style="width:80%">
              <div class="caption">
                <p> Танцевальные выступления на мероприятиях.</p>
                <p> Стаж работы 12 лет </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://kontur.ru" target="_blank">
              <img src="https://pp.userapi.com/c637830/v637830566/18470/bfSrOB1VKUM.jpg" alt="Fjords" style="width:80%">
              <div class="caption">
                <p> Разработка програмного обеспечения. </p>
                <p> Стаж работы 6 месяцев </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</body>