<body>
<table>
    <tr>
      <td>
        Директор
      </td>
      <td>
        Арапова Д.В.
      </td>
    </tr>
    <tr>
      <td>
        Адрес
      </td>
      <td>
        123456, г.Екатеринбург, ул.Тургенева 4
      </td>
    </tr>
    <tr>
      <td>
        Дата основания
      </td>
      <td>
        20 ноября 2018
      </td>
    </tr>  
    <tr>
        <td>
          Специализация
        </td>
        <td>
          <p>Банковские переводы.</p> 
          <p>Праздники, дни рождения, свадьбы.</p> 
          <p>Олимпиадное программирование, промышленное программирование.</p>
        </td>
      </tr>      
  </table>
  </body>