<body>
<table>
    <tr>
      <td>
        Полное официальное наименование предприятия
      </td>
      <td>
        Индивидуальный предприниматель Арапова Диана Владимировна
      </td>
    </tr>
    <tr>
      <td>
        Сокращенное название
      </td>
      <td>
        ИП Арапова Д.В.
      </td>
    </tr>
    <tr>
      <td>
        Директор
      </td>
      <td>
        Арапова Д.В.
      </td>
    </tr>
    <tr>
      <td>
        ИНН
      </td>
      <td>
        123456789
      </td>
    </tr>
    <tr>
        <td>
          Юридический адрес
        </td>
        <td>
          123456, г.Екатеринбург, ул.Тургенева 4
        </td>
      </tr>
      <tr>
          <td>
            Телефон(факс)
          </td>
          <td>
            +7 (912) 129-89-21
          </td>
        </tr>
        <tr>
            <td>
              Номер расчетного счета
            </td>
            <td>
              12341234123412341234
            </td>
          </tr>
          <tr>
              <td>
                БИК
              </td>
              <td>
                123456789
              </td>
            </tr>
            <tr>
                <td>
                  email
                </td>
                <td>
                  diiana@2-u.ru
                </td>
              </tr>
  </table>
</body>